.box {
    display: flex;
}

body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    display: center;
}

#inputForm {
    text-align: center;
}

.songCard {
    background-size: auto;
    background-color: rgb(229, 226, 226);
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 211px;
    max-height: 211px;
    width: 132px;
    max-width: 132px;
    text-overflow: ellipsis;
}

.albumImage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.trackName {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

.albumName {
    text-decoration: underline;
}

.artistName {
    font-style: italic;
}

section {
    width: 70%;
}

aside {
    width: 30%;
}