/* Page & Top Level Div Formatting */

.top {
    display: flexbox;
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-bottom: 30px;
}

.box {
    display: flex;
}

body {
    font-family: Arial;
    background-color: grey;
}

section {
    width: 70%;
}

aside {
    width: 30%;
}

/* Song Card Styling */

.songCard {
    background-size: auto;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 211px;
    max-height: 211px;
    width: 132px;
    max-width: 132px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.albumImage {
    display: flex;
    justify-content: center;
    align-content: center;
}

.trackName {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:link {
    color: black;
    text-decoration: none;
}

.albumName {
    text-decoration: underline;
}

.artistName {
    font-style: italic;
}

/* Playlist Styling */

.removeButton {
    margin-left: 10px;
    block-size: 18px;
    background-color: black;
    color: red;
    font-size: 10px;
}

.playlistItem {
    margin-bottom: 5px;
}
